#!/bin/bash
source_base="/opt/paper/run/{{ mc_world_name }}"
dest_base_nfs="/opt/paper/backup_nfs/{{ mc_world_name }}"
dest_base_local="/opt/paper/backup_local"
tmux_session="mc"

# Where to store today's backup
#backup_dest_nfs="$dest_base_nfs/$(date +%Y-%m-%d-%H:%M-%S)"
backup_dest_local="$dest_base_local/$(date +%Y-%m-%d-%H:%M-%S)"
# Where to find yesterday's backup
# backup_last_nfs="$( ls -1tr $dest_base_nfs  | tail -n 1 )"
backup_last_local="$( ls -1tr $dest_base_local | tail -n 1)"

# # Use yesterday's backup as the incremental base if it exists
# if [ ! -z "$backup_last_nfs" ]
# then
#     rsync_opts_nfs="--link-dest $dest_base_nfs/$backup_last_nfs"
# fi

# Use yesterday's backup as the incremental base if it exists
if [ ! -z "$backup_last_local" ]
then
    rsync_opts_local="--link-dest $dest_base_local/$backup_last_local"
fi

screen -R minecraft -X stuff "say Performing backup $(printf '\r')"
screen -R minecraft -X stuff "save-off $(printf '\r')"
screen -R minecraft -X stuff "save-all $(printf '\r')"
sleep 5
# rsync -av $rsync_opts_nfs "$source_base" "${source_base}_nether" "${source_base}_the_end" "${backup_dest_nfs}/"
sleep 5
rsync -av $rsync_opts_local "$source_base" "${source_base}_nether" "${source_base}_the_end" "${backup_dest_local}/"
sleep 5
screen -R minecraft -X stuff "save-on $(printf '\r')"
screen -R minecraft -X stuff "say Backup complete. $(printf '\r')"

